
<div class="container">
    <div class="title">Edit </div>
    <form action="#">
        <div class="user__details">

           
            
            <div class="input__box">
                <span class="details">Name</span>
                <input type="text" placeholder="E.g: Costa mesa" required>
            </div>

            <div class="input__box">
                <span class="details">ImageUrl</span>
                <input type="text" placeholder="E.g: Costa mesa" required>
            </div>
            
            <div class="input__box">
                <span class="details">AssignedPhoneNumber
                </span>
                <input type="text" placeholder="johnWC98" required>
            </div>

            <div class="input__box">
                <span class="details">BusinessPhoneNumber</span>
                <input type="text" placeholder="E.g: Costa mesa" required>
            </div>
            
            <div class="input__box">
                <span class="details">BusinessFaxNumber
                </span>
                <input type="text" placeholder="johnWC98" required>
            </div>

            <div class="input__box">
                <span class="details">Website
                </span>
                <input type="text" placeholder="johnWC98" required>
            </div>

            <div class="input__box">
                <span class="details">Timezone
                </span>
                <input type="text" placeholder="johnWC98" required>
            </div>
         
           
           
        </div>
        <div>
            <button class="buttonlocation" type="submit" value="Register"
                style="margin-inline-end: 20px;">Save</button>
        </div>
    </form>
</div>

