table {
    width: 100%;
}

.full-width {
    font-size: 14px;
    width: 100%;
}

.mat-elevation-z8 {
    box-shadow: 0px 0px 5px -2px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 5%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}


.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    background-color: white;
    text-align: start;
  }
