<div>
    <nav>
        <ul class="nav-links">

            <li>
                <a  routerLink="/enterprise" routerLinkActive="active">Enterprise</a>
            </li>

            <div class="search">
                <i class="fa fa-search"></i>
                <input list="browsers" name="browser">
                <datalist id="browsers">
                    <option value="Internet Explorer">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                </datalist>
            </div>

            <li><a routerLink="location" routerLinkActive="active">Location</a></li>

            <div class="search">
                <i class="fa fa-search"></i>
                <input list="browsers" name="browser">
                <datalist id="browsers">
                    <option value="Internet Explorer">
                    <option value="Firefox">
                    <option value="Chrome">
                    <option value="Opera">
                    <option value="Safari">
                </datalist>
            </div>
        </ul>
    </nav>
</div>

