<div class="side-menu">
  <div class="brand-name">
    <h1 style="color: brown;">Admin Console</h1>
  </div>

  <!-- <ul class="sidenav">
    <li>
      <a > <img src="assets/images/dashboard (2).png" alt="" />&nbsp;
     <span>Home</span></a>
    </li>
    <li>
      <a><img src="/assets/images/reading-book (1).png" alt="" />&nbsp;
      <span
        >Guest</span></a>
      
    </li>
    <li>
      <a> <img src="/assets/images/teacher2.png" alt="" />&nbsp;
     <span
        >Table Data</span
      ></a>
    </li>
    <li>
      <a >  <img src="/assets/images/settings.png" alt="" />&nbsp;<span
        >Mobile Loyalty</span></a>
      >
    </li>
  </ul>
</div>

 -->


  <div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open': sideNavStatus}">
      
      <li>
        <a > <img src="assets/images/dashboard (2).png" alt="" />&nbsp;
       <span>Home</span></a>
      </li>
      <li>
        <a><img src="/assets/images/reading-book (1).png" alt="" />&nbsp;
        <span
          >Guest</span></a>
        
      </li>
      <li>
        <a> <img src="/assets/images/teacher2.png" alt="" />&nbsp;
       <span
          >Table Data</span
        ></a>
      </li>
      <li>
        <a >  <img src="/assets/images/settings.png" alt="" />&nbsp;<span
          >Mobile Loyalty</span></a>
        >
      </li>
    </ul>
  </div>

