<div class="container">
    <div class="title">Plumwifi_HeartBeat</div>
    <form action="#">
        <div class="user__details">


            <div class="input__box">
                <span class="details">ConfigVersion:</span>
                <input type="text" placeholder="E.g: Costa mesa" readonly required>


            </div>
            <div class="input__box">
                <span class="details">LastOnline:</span>
                <input type="text" placeholder="E.g: Costa mesa" readonly required>
            </div>
            
            <div class="input__box">
                <span class="details">HeartBeatAt:</span>
                <input type="text" placeholder="E.g: Costa mesa" readonly required>

            </div>

            <div class="input__box">
                <span class="details">HeartBeats:</span>
                <input type="text" placeholder="E.g: Costa mesa" readonly required>

            </div>
  
        </div>
       
    </form>
</div>


  
    